*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.trace
*.pid
*.sha1
*.png
local.properties
/app/google-services.json
{app/
local.properties
app/google-services.json
